nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      // Brand and toggle get grouped for better mobile display
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only
            | Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a.navbar-brand(href="#")
        | きいて
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      form.navbar-form.navbar-left(role="search")
        .form-group
          input.form-control(type="text",placeholder="まだ未実装だお")
        button.btn.btn-default(type="submit")
          | Submit
      ul.nav.navbar-nav.navbar-right
        if(user)
          li
            a(href="/items/new")
              | 新規作成
        li
          if(!user)
            a(href='https://github.com/login/oauth/authorize?client_id=' + githubClientId + '&scope=user')
              | GitHubでLogin
          else
            a(href='#')= 'ようこそ ' + user.loginId
